.form {
  width: 400px;
  margin-bottom: 20px;
  border: solid 1px rgb(45, 91, 218);
  
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 18px;
  color: rgb(63, 102, 207);
}

.input {
  width: 200px;
  margin-top: 5px;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  

  &:hover,
  &:active {
    box-shadow: 0px 1px 6px 3px rgba(10, 154, 250, 0.6);
  }
}

.btn {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 3px 10px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(212, 222, 248);
  cursor: pointer;

  color: rgb(16, 45, 124);

  &:hover,
  &:active {
    background-color: #0a9afa99;
  }
}
