.list {
  width: 400px;
  padding: 0;
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
  color: #2d5bda;
}

.btn {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 3px 10px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(212, 222, 248);
  cursor: pointer;

  color: rgb(16, 45, 124);

  &:hover,
  &:active {
    background-color: #0a9afa99;
  }
}
